<ion-header>
  <ion-toolbar color="warning" style="color: aliceblue;">
    <ion-title>Playmate Shelf</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"  id="main" style="color: aliceblue;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let book of loadedClass">
    <ion-thumbnail slot="start">
      <ion-img [src]="book.imgLink"></ion-img>
    </ion-thumbnail>   
    <ion-label [routerLink]="['/home/read', book.id]">
       <h3>{{ book.title }}</h3>
       <p > Playmate for {{ book.class }}</p>       
    </ion-label>   
  </ion-item>

</ion-content>

<ion-footer class="ion-no-border" >
  <ion-toolbar color="warning" style="text-align: center; color: aliceblue; font-weight: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Powered by Chroniclesoft</ion-toolbar>
</ion-footer>
